### ETF 코드

In [13]:
import yfinance as yf
yf.pdr_override() # 야후에서 데이터를 획득하는 방식이 크롤링으로 변경
import pandas as pd

# ETF ticker
ticker = ['SPY', 'LQD', 'TLT', 'HYG', 'EMB']
# 순서대로 equity(주식), corporate(회사채), Treasury(국채), HY(고수익), Emerging market bond
etf_close = pd.DataFrame()
start = '2008-01-01'
end = '2022-12-31'
for i in ticker:
  etf_close[i] = yf.download(i, start=start, end=end)['Adj Close'] # download 방법

etf_return = etf_close.pct_change().dropna()
etf_month = etf_return.resample('M').apply(lambda x: (1 + x).prod() - 1)
etf_month = etf_month*100
etf_month
# 현재는 0.05 상태, *100 하면 퍼센트로 바뀜

etf_month.index = etf_month.index.to_period('M')
etf_month

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

              SPY       LQD       TLT       HYG        EMB
Date
2008-01 -5.216316  1.366831  0.646257 -0.623180   0.807917
2008-02 -2.584227 -0.706247 -0.455314 -1.869334  -0.406474
2008-03 -0.894202 -0.597122  2.138848  0.946092   0.093063
2008-04  4.766189  1.244648 -2.486284  3.396804   1.161685
2008-05  1.511670 -2.205242 -2.688191 -0.508371   0.104598
...           ...       ...       ...       ...        ...
2022-08 -4.080199 -4.429120 -4.553094 -4.308887  -2.707731
2022-09 -9.244580 -5.979861 -8.235103 -3.740339  -6.575050
2022-10  8.127552 -0.745238 -5.964417  3.365727  -0.163221
2022-11  5.559140  6.647653  7.151049  3.431334  10.076654
2022-12 -5.762808 -1.551127 -2.620033 -1.756964  -1.358549

[180 rows x 5 columns]

In [14]:
etf_month.to_csv('./etf_month_JY.csv')

### 리스크 프리미엄

In [15]:
rf = pd.read_csv('./rf.csv')
rf.columns = ['DATE', 'RF', 'RF(%)']
rf['DATE'] = pd.to_datetime(rf['DATE'])
rf.set_index('DATE', inplace=True)
rf = rf['2008-01-31':]
rf.index = rf.index.to_period('M')
rf.drop(['RF'], axis=1, inplace=True)
rf

         RF(%)
DATE
2008-01   21.0
2008-02   13.0
2008-03   17.0
2008-04   18.0
2008-05   18.0
...        ...
2021-06    0.0
2021-07    0.0
2021-08    0.0
2021-09    0.0
2021-10    0.0

[166 rows x 1 columns]

In [16]:
rf.to_csv('./rf_JY.csv')

In [17]:
credit01 = pd.read_csv('./Credit_1.csv')
credit02 = pd.read_csv('./Credit_2.csv')
credit03 = pd.read_csv('./Credit_3.csv')

term01 = pd.read_csv('./Term_1.csv')
term02 = pd.read_csv('./Term_2.csv')
term03 = pd.read_csv('./Term_3.csv')

equity01 = pd.read_csv('./Eq_1.csv')
equity02 = pd.read_csv('./Eq_2.csv')

In [18]:
credit01['DATE'] = pd.to_datetime(credit01['DATE'])
credit01.set_index('DATE', inplace=True)

credit02['DATE'] = pd.to_datetime(credit02['DATE'])
credit02.set_index('DATE', inplace=True)

credit03['DATE'] = pd.to_datetime(credit03['DATE'])
credit03.set_index('DATE', inplace=True)

term01['DATE'] = pd.to_datetime(term01['DATE'])
term01.set_index('DATE', inplace=True)

term02['DATE'] = pd.to_datetime(term02['DATE'])
term02.set_index('DATE', inplace=True)

term03['DATE'] = pd.to_datetime(term03['DATE'])
term03.set_index('DATE', inplace=True)

equity01['DATE'] = pd.to_datetime(equity01['DATE'])
equity01.set_index('DATE', inplace=True)

equity02['DATE'] = pd.to_datetime(equity02['DATE'])
equity02.set_index('DATE', inplace=True)

In [19]:
credit01 = credit01['2008-01':]
credit02 = credit02['2008-01':]
credit03 = credit03['2008-01':]

term01 = term01['2008-01':]
term02 = term02['2008-01':]
term03 = term03['2008-01':]

equity01 = equity01['2008-01':]
equity02 = equity02['2008-01':]

In [20]:
credit01.index = credit01.index.to_period('M')
credit02.index = credit02.index.to_period('M')
credit03.index = credit03.index.to_period('M')

term01.index = term01.index.to_period('M')
term02.index = term02.index.to_period('M')
term03.index = term03.index.to_period('M')

equity01.index = equity01.index.to_period('M')
equity02.index = equity02.index.to_period('M')

In [21]:
credit01.to_csv('./credit01_JY.csv')
credit02.to_csv('./credit02_JY.csv')
credit03.to_csv('./credit03_JY.csv')

term01.to_csv('./term01_JY.csv')
term02.to_csv('./term02_JY.csv')
term03.to_csv('./term03_JY.csv')

equity01.to_csv('./equity01_JY.csv')
equity02.to_csv('./equity02_JY.csv')

### 국면

In [22]:
recovery = pd.read_csv('./recovery_df.csv')
recovery.drop(['Unnamed: 0'], axis=1, inplace=True)
recovery.columns = ['DATE']

expansion = pd.read_csv('./expansion_df.csv')
expansion.drop(['Unnamed: 0'], axis=1, inplace=True)
expansion.columns = ['DATE']

slowdown = pd.read_csv('./slowdown_df.csv')
slowdown.drop(['Unnamed: 0'], axis=1, inplace=True)
slowdown.columns = ['DATE']

contraction = pd.read_csv('./contraction_df.csv')
contraction.drop(['Unnamed: 0'], axis=1, inplace=True)
contraction.columns = ['DATE']

In [23]:
recovery['DATE'] = pd.to_datetime(recovery['DATE'])
recovery['DATE'] = recovery['DATE'].dt.to_period('M')
recovery = recovery[recovery['DATE'] >= '2008-01']

expansion['DATE'] = pd.to_datetime(expansion['DATE'])
expansion['DATE'] = expansion['DATE'].dt.to_period('M')
expansion = expansion[expansion['DATE'] >= '2008-01']

slowdown['DATE'] = pd.to_datetime(slowdown['DATE'])
slowdown['DATE'] = slowdown['DATE'].dt.to_period('M')
slowdown = slowdown[slowdown['DATE'] >= '2008-01']

contraction['DATE'] = pd.to_datetime(contraction['DATE'])
contraction['DATE'] = contraction['DATE'].dt.to_period('M')
contraction = contraction[contraction['DATE'] >= '2008-01']

In [24]:
recovery.to_csv('./recovery_JY.csv')
expansion.to_csv('./expansion_JY.csv')
slowdown.to_csv('./slowdown_JY.csv')
contraction.to_csv('./contraction_JY.csv')