In [31]:
import pandas as pd

# monthly rate
rf = pd.read_csv('./F-F_Research_Data_Factors.csv', index_col = 0) 
rf.index = pd.to_datetime(rf.index, format = '%Y%m')
rf.index = rf.index.to_period('M').to_timestamp('M')
rf

            Mkt-RF   SMB   HML    RF
1926-07-31    2.96 -2.56 -2.43  0.22
1926-08-31    2.64 -1.17  3.82  0.25
1926-09-30    0.36 -1.40  0.13  0.23
1926-10-31   -3.24 -0.09  0.70  0.32
1926-11-30    2.53 -0.10 -0.51  0.31
...            ...   ...   ...   ...
2023-05-31    0.35  1.61 -7.72  0.36
2023-06-30    6.46  1.54 -0.26  0.40
2023-07-31    3.21  2.08  4.11  0.45
2023-08-31   -2.39 -3.16 -1.06  0.45
2023-09-30   -5.24 -2.51  1.52  0.43

[1167 rows x 4 columns]

In [32]:
# 1990-04-30 ~ 2021-10-31 슬라이싱
rf = rf.loc['1990-04-30':'2021-10-31']

# RF만 저장
rf = rf['RF']
rf = pd.DataFrame(rf)
rf

              RF
1990-04-30  0.69
1990-05-31  0.68
1990-06-30  0.63
1990-07-31  0.68
1990-08-31  0.66
...          ...
2021-06-30  0.00
2021-07-31  0.00
2021-08-31  0.00
2021-09-30  0.00
2021-10-31  0.00

[379 rows x 1 columns]

In [33]:
# % 단위로 변경
rf['RF(%)'] = rf['RF'] * 100

In [34]:
rf

              RF  RF(%)
1990-04-30  0.69   69.0
1990-05-31  0.68   68.0
1990-06-30  0.63   63.0
1990-07-31  0.68   68.0
1990-08-31  0.66   66.0
...          ...    ...
2021-06-30  0.00    0.0
2021-07-31  0.00    0.0
2021-08-31  0.00    0.0
2021-09-30  0.00    0.0
2021-10-31  0.00    0.0

[379 rows x 2 columns]

In [35]:
rf.to_csv('rf.csv', index=False)